# Ignore large video files
# Video formats
*.mp4
*.mov
*.avi
*.mkv
*.webm
*.flv

# Other heavy assets
*.mp3
*.wav

# Ignore system junk
.DS_Store
Thumbs.db

# Ignore Python environment folders
__pycache__/
*.pyc
venv/